@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Branding";
  src: url("./assets/fonts/Branding-Medium.eot");
  src: url("./assets/fonts/Branding-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Branding-Medium.woff2") format("woff2"),
    url("./assets/fonts/Branding-Medium.woff") format("woff"),
    url("./assets/fonts/Branding-Medium.svg#Branding") format("svg");
  font-weight: normal;
}

@font-face {
  font-family: "Branding";
  src: url("./assets/fonts/Branding-Bold.eot");
  src: url("./assets/fonts/Branding-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Branding-Bold.woff2") format("woff2"),
    url("./assets/fonts/Branding-Bold.woff") format("woff"),
    url("./assets/fonts/Branding-Bold.svg#Branding") format("svg");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Branding", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  background-image: url("./assets/images/body-background.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(8px);
}

.bg-image-mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  background-image: url("./assets/images/body-background-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(8px);
}

// tailwing overrides
.bg-blue-900 {
  background-color: #022264;
}

.bg-blue-600 {
  background-color: #0456fb;
}

.bg-blue-200 {
  background-color: #e5eeff;
}

// Custom
.bg-custom-social {
  background-color: #173470;

  &:hover {
    background-color: #374f81;
  }
}

.BTC {
  background: linear-gradient(
      0deg,
      rgba(251, 181, 4, 0.05),
      rgba(251, 181, 4, 0.05)
    ),
    #ffffff;
  border: 1px solid rgba(93, 92, 108, 0.1);
}

.ETH {
  background: linear-gradient(
      0deg,
      rgba(162, 136, 240, 0.05),
      rgba(162, 136, 240, 0.05)
    ),
    #ffffff;
  border: 1px solid rgba(93, 92, 108, 0.1);
}

.USDT {
  background: linear-gradient(
      0deg,
      rgba(2, 188, 160, 0.05),
      rgba(2, 188, 160, 0.05)
    ),
    #ffffff;
  border: 1px solid rgba(93, 92, 108, 0.1);
}

.DOT {
  background: linear-gradient(
      0deg,
      rgba(226, 45, 136, 0.05),
      rgba(226, 45, 136, 0.05)
    ),
    #ffffff;
  border: 1px solid rgba(93, 92, 108, 0.1);
}

.bg-flag-es {
  background-image: url("./assets/images/flags/es.svg");
  background-position: 4px;
  background-repeat: no-repeat;
  background-size: 34px;
}

.bg-flag-en {
  background-image: url("./assets/images/flags/uk.svg");
  background-position: 4px;
  background-repeat: no-repeat;
  background-size: 34px;
}
